*{
  margin: 0;
  padding: 0;
  font-family: "poppins" sans-serif;
  box-sizing: border-box;
  font-size: 18PX;
}
#main{
  width: 250px;
  border: 1px solid green;
  box-shadow: 10px 10px 10px 10px rgb(163, 161, 157);
  border-radius: 10px;
  margin: 10% auto;
  padding: 10px 10px;
  background-color: aquamarine;
}
#login-1, #reg-1{
  width: 48%;
  margin-top: 20px;
  margin-bottom: 15px;
  border-radius: 6px;
}
#reg-1:hover{
  transition: 5ms ease-in;
  background-color: gray;
}
#login-1:hover{
  transition: 5ms ease-in;
  background-color: gray;
}
#reg-1{
  background-color: darkgray;
}
h1{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.active{
  background-color: darkgrey;
}
#password,#email{
  margin-bottom: 10px;
}
p{
  font-size: 14px;
}
a{
  font-size: 12px;
  text-decoration: none;
}
strong{
  font-size: 12px;
  width:20% ;
  color: red;
}
.spa{
  margin-left: 40px;
  
}
.spa input{
height: 10px;
width: 5%;
margin-right: 1px;

}
button{
  width: 100%;
  background-color: darkgrey;
  margin-bottom: 10px;
  border-radius: 7px;
}
#register input{
  margin-bottom: 10px;
}
#register{
  margin-top: 10px;
}
input{
  width: 100%;
  padding-left: 5px;
  font-size: 15px;
  height: 25px;

}
#reset input ,button{
  margin-bottom: 10px;
}
#reset{
  margin-top: 10px;
}
#form-1 button{
  margin-top: 10px; 
}
#register, #reset{
  display: none;
}
.reg:hover{
  transition: 5ms ease-in;
  background-color: gray;
}
